<configuration>
	<configSections>
		<section name="TcmHttpUpload" type="TcmHttpUpload.Misc.UploadConfig, TcmHttpUpload" />
	</configSections>
	<!-- IncomingFolder: Tridion incoming folder -->
	<!-- TemporaryFolder: Tridion working folder -->
	<!-- MaximumSize: Maximum Tridion package size (in bytes) -->
	<!-- MaxStateAge: Maximum Tridion state file age in minutes (older files get deleted on recycle) -->
	<TcmHttpUpload
		incomingFolder="F:\Apps\Tridion\incoming"
		temporaryFolder="F:\Apps\Tridion\temp"
		maximumSize="104857600"
		maxStateAge="30" />
	<system.web>
		<compilation defaultLanguage="c#" debug="false"/>
		<!-- enableVersionHeader prevents ASP.net from publishing its version information in the HTTP header 
			maxRequestLength is the asp.net request input buffering threshold
			Value: 65536 (65 KB) - Default is 4 KB
			maxQueryStringLength is the ASP.net maximum query string length
			Value: 65536 (65 KB) - Default is 2 KB
			maxUrlLength is the ASP.net is the maximum url length
			Value: 65536 (65 KB) - Default is 260 bytes
			minFreeThreads is the amount of processing threads ASP.net keeps free for receiving requests
			Value: 12 - Default is 8 (We try to keep this higher or the same to the amount of workers in the deployer)
			requestLengthDiskThreshold is the limit for the input stream buffering threshold, in kilobytes
			Value: 512 - Default is 80
			executionTimeout - Amount of time in seconds a request is allowed to execute before ASP.net shuts it down
			Value: 120 - Default is 110
		-->
		<!--
		.NET 4 
		<httpRuntime enableVersionHeader="false" maxRequestLength="65536" maxQueryStringLength="65536" maxUrlLength="65536" minFreeThreads="12" executionTimeout="120" requestLengthDiskThreshold="512" />
		.NET 2
		<httpRuntime enableVersionHeader="false" maxRequestLength="65536" minFreeThreads="12" executionTimeout="120" requestLengthDiskThreshold="512" />
		-->
		
		<httpRuntime enableVersionHeader="false" maxRequestLength="65536" maxQueryStringLength="65536" maxUrlLength="65536" minFreeThreads="12" executionTimeout="120" requestLengthDiskThreshold="512" />
		<customErrors mode="Off"/>
		<httpHandlers>
			<add verb="*" path="*" type="TcmHttpUpload.HttpUpload, TcmHttpUpload" />
		</httpHandlers>
		<pages/></system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		
		<handlers>
			<add name="HttpUpload" verb="*" path="*" type="TcmHttpUpload.HttpUpload, TcmHttpUpload" resourceType="Unspecified" />
		</handlers>
		<security>
			<requestFiltering>
				<!-- maxAllowedContentLength is the IIS level maximum request length in bytes 
				     Value: 104857600 (100 MB) - Default 30 MB
					 maxQueryString is the IIS level maximum query string length in bytes
					 Value: 65536 (65 KB) - Default 2 KB
					 maxUrl is the IIS level maximum URL length in bytes
					 Value: 65536 (65 KB) - Default 4 KB
				-->
				<requestLimits maxAllowedContentLength="104857600" maxQueryString="65536" maxUrl="65536"/>
			</requestFiltering>
		</security>
		<httpProtocol>
			<customHeaders>
				<clear/>
			</customHeaders>
		</httpProtocol>
	</system.webServer>
	<system.diagnostics>
		<sources>
			<!-- 
				Control log level by setting the switchValue to:
				- Verbose
				- Information
				- Warning
				- Error
			-->
			<source name="TcmHttpUpload" switchValue="Warning">
				<listeners>
					<remove name="Default"/>
					<add name="FileLogListener" type="TcmHttpUpload.Logging.RolloverTraceListener, TcmHttpUpload" initializeData="F:\Apps\Tridion\logs\deployer\upload.log" />
				</listeners>
			</source>
		</sources>
		<trace autoflush="true" indentsize="2" />
	</system.diagnostics>
</configuration>
